/* CSS RESET */
* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000000;
    font-family: 'Noto Sans', 'Nanum Gothic', sans-serif;
    letter-spacing: -1px;
/*    border: 1px solid;*/
}

a {
    text-decoration: none;
    cursor: pointer;
}
li {list-style: none;}

/* -- 헤더 > 위 */
.upper_header {
    width: 100%;
    height: 32px;
    background-color: #BDBDBD;
}

.upper_header--nav {
    width: 1200px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 32px;
}

.upper_header--nav a {
    color: #ffffff;
}

.upper_header--nav ul, .upper_header--nav li, .upper_header--nav p {
    display: inline-block;
} /* 200619 pm12:55 수정됨 -- 이유: 클래스 명 생략해서 전체 li, p 태그에 적용됨 */

.upper_header--nav ul {
    float: right;
}

.upper_header--nav ul::after {
    clear: both;
    display: block;
    content: "";
}

.upper_header--nav li:first-child {
    padding-right: 16px;
}


/* -- 헤더 > 아래 */
.lower_header {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(112, 112, 112, 0.1);
}

/* 스크롤 작동할 때 --*/
.lower_header.sticky {
    position: fixed;
    top: 0;
    z-index: 999998;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    transition: 0.8s;
}

.lower_header--nav {
    width: 1200px;
    margin: 0 auto;
    font-size: 12px;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
}


.logo a {
    color: #F9A825;
    font-size: 36px;
}

.category {
    display: inline-block;
    padding-left: 50px;
    vertical-align: middle;
}

.category img {
    width: 44px;
    height: 40px;
}

.search {
    height: 40px;
    display: inline-block;
    margin-left: -4px;
    padding-top: 20px;
}

.search--select {
    height: 40px;
    border-top: 2px solid #F9A825;
    border-bottom: 2px solid #F9A825;
    border-left: 2px solid #F9A825;
    padding-left: 8px;
    padding-right: 4px;
}

.search--select option {
    padding-top: 8px;
    padding-bottom: 8px;
}

.search__input {
    width: 590px;
    height: 40px;
    border-top: 2px solid #F9A825;
    border-bottom: 2px solid #F9A825;
    border-right: 2px solid #F9A825;
    margin-left: -4px;
    padding-left: 12px;
}

.member_info {
    float: right;
    margin-top: 10px;
    display: inline-block; /* 2020-06-19 pm12:58 수정됨 */
}

.member_info li {
    text-align: center;
    margin-left: 14px;
    width: 48px;
    display: inline-block; /* 2020-06-19 pm12:57 수정됨 */
}

.member_info li a {
    display: inline-block;
}

/*
.member_info li a img {
    color: #ffffff;
    width: 40px;
    height: 40px;
}
*/

.member_info .material-icons {
    color: #575757;
    font-size: 40px;
}


.member_info li a span {
    font-size: 10px;
    color: #575757;
}

/* desktop-size(min:1280) */
/* 푸터 영역 by 하나 */
.upper_footer {
    width: 100%;
    height: 52px;
    border-top: 1px solid rgba(112, 112, 112, 0.2);
}

.upper_footer--list {
    width: 1200px;
    height: inherit;
    margin: 0 auto;
    text-align: center;
}

.upper_footer--list li {
    font-size: 16px;
    line-height: 52px;
    display: inline-block; /* 2020-06-19 pm 01:10 수정됨 */
}

.upper_footer--list li a {
    border-right: 1px solid rgba(112, 112, 112, 0.5);
    padding: 0 46px;
}

.upper_footer--list li:last-child a {
    border-right: none;
}

.lower_footer {
    width: 100%;
    height: 280px;
    background-color: #F5F5F5;
}

/* 경매등록 시작 by.유빈 */
/* 경매등록 공통사항 */
.product {
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
}

#product * {
    letter-spacing: 0.1px;
}

/* 타이틀 */
.product--title h1 {
    display: inline-block;
    margin: 40px 0 20px 0;
    font-size: 30px;
    font-weight: 900;
    position: relative;
    padding-bottom: 7px;
}

.product--title h1::before {
    position: absolute;
    content: "";
    left: 0;
    right: -8%;
    bottom: 0px;
    height: 2px;
    background-color: #F9A825;
}

/* form 공통사항 */
.product--form [class^="form--"] {
    padding: 18px 0;
}

.product--form [class$="notice"] {
    color: #3517E3;
}

.product--form [class$="subtitle"] {
    margin: 20px 0;
}

.product--form [class$="subtitle"] .material-icons {
    position: relative;
    font-size: 23px;
    font-weight: 600;
    color: #3517E3;
}

.product--form [class$="subtitle"] .material-icons::before {
    position: absolute;
    padding-left: 30px;
    color: #000;
}

.product--form [class$="form_wrap"] {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.product--form [class$="items"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form_wrap--items__title {
    text-align: center;
    background: #f8f8f8;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    flex: 1 0 180px;
}

.form_wrap--items__contents {
    flex: 9 0 500px;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
    min-height: 50px;
}

.product--form input[type="text"] {
    border: 1px solid #dbdbdb;
    width: 100%;
    height: 33px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    margin: 9px 0;
}

.product--form input[type="text"]:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.product--form input[type="radio"] {
    vertical-align: middle;
    margin-bottom: 2px;
    cursor: pointer;
}

.product--form select {
    border: 1px solid #dbdbdb;
    width: 250px;
    font-size: 14px;
    color: #555;
}

.product--form select:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.product--form select option {
    padding: 10px 12px;
    font-size: 14px;
    color: #555;
}

.form_wrap--items__contents select {
    margin: 9px 0;
    height: 33px;
    padding: 0 6px;
}

.form_wrap--items__contents p {
    margin: 7px 0;
    font-size: 14px;
    color: #333;
}

.form_wrap--items__contents span {
    font-size: 14px;
    color: #333;
}

.form_wrap--items__contents label {
    font-size: 14px;
    width: 90px;
    color: #333;
    cursor: pointer;
}

/* 카테고리 시작 */
.category--subtitle .material-icons::before {
    content: "카테고리 선택";
}

.category--route {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.category--route div {
    font-size: 15px;
    border: 1px solid #ddd;
    line-height: 3.3;
}

.category--route__title p {
	width: 250px;
    text-align: center;
    background: #464646ed;
    color: #fff;
}

.category--route__text {
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: 20px;
}

.category--route__text p {
    color: #333;
}

.category--select {
    margin-top: 15px;
}

.category--select__01 {
    margin-right: 5px;
}
/* 카테고리 끝 */

/* 상품 정보 시작 */
.info--subtitle .material-icons::before {
    content: "상품 정보";
}

.form--info .info--subtitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 13px;
}

.info--notice {
    font-size: 15px;
    margin-right: 10px;
    margin-top: 15px;
}

.form_wrap--items__file {
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color: #f9f9f9;
	border-radius: 11px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #666666;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	padding: 7px 25px;
	text-shadow: 0px 1px 0px #ffffff;
    line-height: 1.4;
}
.form_wrap--items__file:hover {
	background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color: #e9e9e9;
}
.form_wrap--items__file:active {
	position:relative;
	top:1px;
}

.note-editor {
	margin-bottom: 10px;
}
/* 상품 정보 끝 */

/* 경매 설정 시작 */
.auction--subtitle .material-icons::before {
    content: "경매 설정";
}

.form--auction .auction--form_wrap .endDate {
    width: 230px;
    background-color: #eee;
}

.form--auction .auction--form_wrap .fw700 {
    margin-left: 35px;
}
/* 경매 설정 끝 */

/* 배송 설정 시작 */
.delivery--subtitle .material-icons::before {
    content: "거래 설정";
}

.form--delivery .form_wrap--items__contents .directArea {
    width: 350px;
}
/* 배송 설정 끝 */

/* 기타 설정 시작 */
.other--subtitle .material-icons::before {
    content: "기타 설정";
}

.form--other .other--form_wrap .purchasePrice {
    width: 250px;
}

.form--other .other--form_wrap p {
    margin-bottom: 0;
}
/* 기타 설정 끝 */

/* 경고 시작 */
.product .form--warning {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: 13px 12px;
}

.product .form--warning p{
    font-size: 14px;
    color: #555;
}
/* 경고 끝 */

/* submit 시작 */
.product .form--button {
    text-align: center;
    margin: 60px 0 40px 0;
}

.product .form--button a {
    border-radius: 7px;
    display: inline-block;
	cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}

.product .form--button a:active {
    position: relative;
	top: 1px;
}

.form-button__submit {
	box-shadow: inset 0px 1px 0px 0px #99c3f7;
	background-color: #3487e0;
	border: 1px solid #3d82e3;
	color: #ffffff;
    padding: 10px 65px;
}

.form-button__submit:hover {
	background-color: #407cd6;
}

.form-button__cancel {
	box-shadow: inset 0px 1px 0px 0px #d7d5d5;
	background-color: #b4b4b4;
	border: 1px solid #98999a;
	color: #ffffff;
    padding: 10px 47px;
}
.form-button__cancel:hover {
	background-color: #959595;
}
/* submit 끝 */

/* 경매등록 끝 */

/* 단일 css */
.product .product--form .wd150 {
    width: 150px;
}

.product .product--form .wd120 {
    width: 120px;
}

.product .product--form .wd90 {
    width: 90px;
}

.product .product--form .fw700 {
    font-weight: 700;
    margin-right: 5px;
}

.product .product--form .flexCenter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.product .product--form .minH50 {
    min-height: 50px;
}

.readonlyfalse {
    background-color: #eee;
}